%h4.serif Order Confirmation

%table
  %thead
    %th
      Modify Order
    %th
      Item Name
    %th
      Price (per Dozen)
    %th
      Quantity
    %th
      Total Price

  %tbody
    - @cart.order.product_orders.each do |item|
      %tr.orders{id: item.id}
        %td
          = button_to 'Modify Order', shopping_cart_path(current_user.shopping_cart.id), method: 'get'
        %td
          = item.product.name
        %td
          = item.product.price
        %td
          = item.quantity
        %td
          - total_price = (item.product.price * item.quantity)
          = number_to_currency(total_price)

%h4.serif Shipping Confirmation
%table
  %thead.serif
    %th
      Name
    %th
      Email
    %th  
      Phone      
    %th  
      Shipping Address
    %th
      Delivery Date
  %tbody
    %td  
      = current_user.shopping_cart.order.name
    %td
      = current_user.shopping_cart.order.email
    %td
      = current_user.shopping_cart.order.phone_number    
    %td
      = current_user.shopping_cart.order.mailing_address
    %td
      / %input{name: "Date", type: "date", min: (Date.today+4), placeholder: (Date.today+4)} 
      - d_date = current_user.shopping_cart.order.delivery_date
      = "#{d_date.strftime("%b %d, %Y")}"         

= form_tag(stripe_payment_product_orders_path, type: 'application/json', remote: true) do
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = hidden_field_tag :total_price, current_user.shopping_cart.order.order_sum.to_i  
  %article
    %label.amount
      %span
        Amount: #{number_to_currency(current_user.shopping_cart.order.order_sum)}

  %script.stripe-button{ :src => "https://checkout.stripe.com/v2/checkout.js", :"data-amount" => "#{current_user.shopping_cart.order.order_sum * 100}", :"data-description" => "A month's subscription", :"data-key" => Rails.configuration.stripe[:publishable_key], :"data-currency" => "usd" }
