
- unless @cart.product_orders.empty?
  - @cart.product_orders.each do |item|
    = item.product.name
    = item.quantity
    = item.product.price
    = form_tag(product_order_path(:id => item.id), method: "patch") do
      = text_field_tag :quantity
      = submit_tag :"update quantity"
    = button_to "Delete Item", product_order_path(:id => item.id), method: :delete
    = button_to "Checkout", new_product_order_path, method: :get

- else
  %h3
    You have no items in your cart.


