%script
  = render partial: 'partials/js/cart.js'
- unless @cart.order.product_orders.empty?
  %table
    %thead.serif
      %th
        Item Name
      %th
        Price (per Dozen)
      %th
        Quantity
      %th
    %tbody
      - @order.product_orders.each do |item|
        %tr.orders{id: item.id}
          %td
            = item.product.name
          %td.price{:"data-price" => item.product.price}
            = item.product.price
          %td
            = form_tag(product_order_path(:id => item.id), method: "patch") do
              = text_field_tag :quantity, item.quantity
              = submit_tag :"update quantity"
          %td
            = button_to "Delete Item", product_order_path(:id => item.id), method: :delete
      %tr
        %td{colspan: 4}
          Total:
        %td#order-total
          = @order.order_sum
  = link_to "Checkout", order_path(@order.id), class: 'button'

- else
  %h3.serif
    You have no items in your cart.

%p.serif 
  Please note that, currently, delivery is only available within Manhattan. All orders must be placed at least four (4) days in advance. So, if you orderd today, the earliest delivery date you could choose will be
  - date = Date.today+4 
  = "#{date.strftime("%b %d, %Y")}"

