.nav.top-bar
  %ul.title-area
    %li
      = link_to root_path do
        = image_tag("OUAC-thumbnail_white.jpg", id: "nav_img")
    
  .top-bar-section.right
    %ul.inline-list   
      %li.nav_buttons.serif
        = link_to 'Summer 2013 Menu', products_path
      
      %li.nav_buttons.serif
        = link_to "Custom Creator", custom_creator_path
      
      %li.nav_buttons.serif
        = link_to 'Cupcake Game', cupcakes_path
      
      %li.nav_buttons.serif
        = link_to 'About', about_path
      
      %li.nav_buttons.serif
        = link_to 'Contact', contact_path
      
    %ul.right
      - if user_signed_in? 
        %li.has-dropdown.serif
          = link_to '#' do
            = current_user.email
          %ul.dropdown
            %li.serif
              = link_to('My Account', user_path(current_user.id))
            
            %li.serif
              = link_to 'Sign Out', destroy_user_session_path, method: :delete 

        %li.serif
          = link_to 'Cart', shopping_cart_path(current_cart.id)
      - else
        %li.serif
          =link_to 'Sign In', new_user_session_path
