#user-container
  #user-info-container
    %table
      %thead
        %th
          Name
        %th
          Email
        %th
          Phone
        %th
          Shipping Address    
      %tbody
        %td
          = current_user.name
        %td
          = current_user.email
        %td
          = current_user.phone
        %td
          = current_user.address    
  #user-button-list.serif
    = link_to 'Edit Account', edit_user_registration_path, class: 'button'
    = link_to 'Delete Account', delete_user_path(current_user.id), method: :delete, confirm: 'Are you sure you want to permanently delete your account? You cannot recover it at a later date.', class: 'button'
/ #user-orders.ten.column
/   .row.center
/     %h3
/       Order History
/     #order-history
/ If user order history is empty (or the orders are older than X days) display "You have no previous orders within the past X days."
/ Else display all the orders from their cart history
