%h3.serif We would love to hear from you!

/ %form{onsubmit: "$('input').val('');"}

= form_tag(contact_path, method: "post", remote: true, onsubmit: "this.reset();") do 
  = label_tag :name
  = text_field_tag :name
  = label_tag :company
  = text_field_tag :company
  = label_tag :email
  = email_field_tag :email
  = label_tag :"phone number"
  = phone_field_tag :phone_number
  = label_tag :"Thoughts, Feelings or Concerns"
  = text_area_tag :comments
  = submit_tag :"send message"


#contact_info
  %h5.serif e-mail us! onceuponacupcakenyc@gmail.com
  %h5.serif call us! 917.579.3335
  %h5.serif like us! www.facebook.com/OnceUponACupcakeNYC
  %h5.serif follow us! @onceuponanyc