
.row
  .large-12.columns
    %ul#slider{'data-orbit' => true}
      %li
        = image_tag("slider_1_8x6.jpg")
      %li
        = image_tag("slider_2_8x7.jpg")
      %li
        = image_tag("platter_8x6.jpg")

.row
  .large-4.columns        
    = link_to products_path do
      = image_tag("menu_8x6.jpg")
      %h4.serif Summer 2013 Menu
  .large-4.columns
    = link_to custom_creator_path do
      = image_tag("icc_cross_section_index.jpg")
      %h4.serif Create Your Own Ice Cream Cupcake!
  .large-4.columns        
    = link_to cupcakes_path do
      = image_tag("falling_icc.jpg")
      %h4.serif Play Our Cascading Cupcakes Game!        

$(document).foundation();