%script
  = render partial: 'partials/js/shipping.js'

%h4.serif
  Please enter or confirm your shipping and delivery information

.row
  .large-4.columns
    = label_tag 'Name'
    = text_field_tag('Name', current_user.name)
    = label_tag 'Email'
    = email_field_tag('Email', current_user.email)
    = label_tag 'Phone'
    = phone_field_tag('Phone', current_user.phone)
  .large-4.columns
    = label_tag 'Shipping Address'
    = text_area_tag('Address', current_user.address, rows: '3')
  .large-4.columns
    = label_tag 'Delivery Date'
    = date_field_tag('Date', Date.today+4, min: Date.today+4)
    #update_user_button
      = button_to "Update Shipping Information", class: 'button'

%p#delivery_disclaimer.serif 
  Please note that, currently, delivery is only available within Manhattan. All orders must be placed at least four (4) days in advance. So, if you orderd today, the earliest delivery date you could choose will be
  - date = Date.today+4 
  = "#{date.strftime("%b %d, %Y")}"

= button_to "Checkout", new_product_order_path, method: 'get', class: 'button'  