<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html; charset=UTF-8" http-equiv="Content-type">
  </head>
  <body>
    Name: <%= @name %> 
    Company: <%= @company %> 
    Email: <%= @email %> 
    Phone: <%= @phone_number %> 
    Comments: <%= @comments %> 
    
  </body>
</html>