<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html; charset=UTF-8" http-equiv="Content-type">
  </head>
  <body>
    <h2>Someone just filled out your contact form!</h2>
    <p>Name: <%= @name %></p>
    <p>Company: <%= @company %> </p>
    <p>Email: <%= @email %> </p>
    <p>Phone: <%= @phone_number %> </p>
    <p>Comments: <%= @comments %> </p>
    
  </body>
</html>