%script
  = render partial: 'partials/js/products.js'

.row
  .small-4.columns.cupcake_display_div
    %img{:src => "/cupcake_platter.png"}
    %h4 
  .small-8.columns.display_desc Everything they do is so dramatic and flamboyant. It just makes me want to set myself on fire. I know what an erection feels like, Michael. No, it's the opposite. It's like my heart is getting hard. The only thing I found in the fridge was a dead dove in a bag. Gob: You didn't eat that, did you? She wanted to look 48. I nearly airbrushed her into oblivion. Ended up checking "albino" on the form.
  /= button_to 'Add to Cart', product_orders_path(product_id: 52)
  %button{:id => 'buy-button', :class => 'button', :"data-product_id" => 0}
    Buy Item
  %i.general.foundicon-up-arrow
  %i.general.foundicon-down-arrow
 
.row#all_menu_items
  - @products.each do |p|
    .small-3.columns.menu_item{:"data-product_id" => "#{p.id}"}
      %img{:src => "#{p.image}"}
      %h4 #{p.name}
      %p.hidden.description #{p.description}
      %p.hidden #{p.id}

.row
  .small-12.columns
    %p (GF/DF) - These flavors use ingredients that are entirely gluten and/or dairy free, though they are produced in the same facility and with the same equipment as gluten and dairy.
  .small-8.columns
    %h5 Minimum order is one dozen per flavor.
  .small-4.columns  
    %h5 $25/dozen.
.row  
  .small-6.columns  
    %a{:href => "/products"}
      %h5 Get Creative! Create your own flavor! 
  .small-6.columns   
    %a{:href => "/contact"}
      %h5 Contact us for special requests!
