%script
  = render partial: 'partials/js/products.js'

.row
  .small-4.columns.cupcake_display_div
    %img{:src => "/cupcake_platter.png"}
    %h4 
  .small-8.columns.display_desc Everything they do is so dramatic and flamboyant. It just makes me want to set myself on fire. I know what an erection feels like, Michael. No, it's the opposite. It's like my heart is getting hard. The only thing I found in the fridge was a dead dove in a bag. Gob: You didn't eat that, did you? She wanted to look 48. I nearly airbrushed her into oblivion. Ended up checking "albino" on the form.
  / moved buttons and arrows so they don't get removed in jquery action that moves image and description to display divs
  = button_to 'Add to Cart', product_orders_path(product_id: 105)
  %i.general.foundicon-up-arrow
  %i.general.foundicon-down-arrow
.row 
  %h4.small-12.columns All orders are a minimum of 1 dozen per flavor, each dozen is $25    
 
.row#all_menu_items
  - @products.each do |p|
    .small-3.columns.menu_item{:"data-id" => "#{p.id}"}
      %img{:src => "#{p.image}"}
      %h4 #{p.name}
      %p.hidden.description #{p.description}
      %p.hidden #{p.id}

.row
  .small-12.columns
    %p (GF/DF) - These flavors use ingredients that are entirely gluten and/or dairy free, though they are produced in the same facility and with the same equipment as gluten and dairy.
  .small-4.columns  
    %p **Custom flavors available upon request!
  .small-4.columns
    %p ***Price available upon request. Minimum order 1 dozen.      
